/* https://colorpalettes.net/color-palette-4472/ */

body {
    height: 100%;
    background: rgb(145, 191, 188);
    background: linear-gradient(82deg, rgba(145, 191, 188, 1) 0%, rgba(210, 220, 211, 1) 100%);

}

h1 {
    text-align: center;
    color: #2c3537;
}

.container {
    display: flex;
    justify-content: center;
}

.board {
    width: calc(500px + 1rem);
    height: calc(500px + 1rem);
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0rem;
    /* font-size: 3rem; */
    background-color: #738a905f;
    cursor: pointer;
    width: calc(500px/3);
    height: calc(500px/3);
}


.cross {
    background-image: url(./assets/cross-sign.svg);
    background-size: contain;
    /* background: no-repeat; */
    /* width: 80%; */
    /* height: 80%; */
}


.circle {
    background-image: url(./assets/circle-sign.svg);
    background-size: contain;
}

/* cell > img (width 80%) - cross & - circle */